.section-footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--primary-text-color);
}

.cont-footer {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .cont-footer {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .cont-footer {
    max-width: 1158px;
  }
}

.web-footer {
  color: #f4f4fd;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-background);
}

.footer-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-subscr-wrap {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-subscr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-help {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer-user-email {
  background-color: var(--primary-text-color);
  border: 1px solid #FFFFFF;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
  width: 398px;
  padding-left: 16px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.email-descr {
  position: absolute;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscr-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 165px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: var(--button-background);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-descr {
  width: 268px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.media-footer-container {
  width: 208px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-user-email:focus+.email-descr {
  transform: translateY(-120%);
}

.footer-user-email:not(:placeholder-shown)+.email-descr {
  transform: translateY(-120%);
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}

/* **************************************************************************************** */
/* ПЛАНШЕТ*/
@media screen and (min-width: 768px) {
  .footer-part {
    display: flex;
    margin-bottom: 72px;
  }

  .media-footer-container {
    margin-bottom: 0;
    text-align: left;
  }

  .footer-subscr-wrap {
    margin: 0;
    text-align: left;
  }

  .footer-user-email {
    width: 264px;
  }

  .cont-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-subscribe {
    display: flex;
  }

  .footer-descr {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
    text-align: left;
  }

  .footer-help {
    margin-right: 24px;
    margin-bottom: 0;
  }

  .footer-user-email:focus+.email-descr {
    transform: translateX(-120%);
  }

  .footer-user-email:not(:placeholder-shown)+.email-descr {
    transform: translateX(-120%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont-footer {
    padding-left: 108px;
    padding-right: 0;
  }

  .footer-user-email:focus+.email-descr {
    transform: translateX(-120%);
  }

  .footer-user-email:not(:placeholder-shown)+.email-descr {
    transform: translateX(-120%);
  }
}


/* **************************************************************************************** */
/* ДЕСКТОП */
@media screen and (min-width: 1200px) {
  .section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-part {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-descr {
    margin-right: 120px;
  }

}