.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

/* **************************************************************************************** */
/* МОБІЛКА */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .nav-cont {
    display: none;
  }
}

/* **************************************************************************************** */
/* ПЛАНШЕТ*/
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .navigations {
    display: flex;
    align-items: center;
  }

  .logo-heder {
    margin-right: 120px;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-adress-link:hover,
  .nav-adress-link:focus {
    color: var(--active-color);
  }

  .nav-adress-mail {
    margin-bottom: 12px;
  }
}

/* **************************************************************************************** */
/* ДЕСКТОП */
@media screen and (min-width: 1200px) {
  .nav-adress {
    display: flex;
    align-items: center;
  }

  .nav-adress-mail {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .nav-adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-adress-link:hover,
  .nav-adress-link:focus {
    color: var(--active-color);
  }
}

/* **************************************************************************************** */
/* СПІЛЬНІ СТИЛІ */

/* ЛОГОТИП */
.logo-heder {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-background);
}

.web {
  color: var(--primary-text-color);
}

/* **************************************************************************************** */
/* СПІЛЬНІ СТИЛІ ПЛАНШЕТУ І ДЕСКТОПУ */
.menu-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--active-color);
}


/* **************************************************************************************** */
/* КНОПКА ВІДКР МОБ. МЕНЮ */
.mobile-menu-open {
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu-icon {
  stroke: #2E2F42;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 22px;
}

/* МОБІЛЬНЕ МЕНЮ */
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  z-index: 1000;
  background-color: #F4F4FD;
}

.mobile_menu-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.nav-cont-mob {
  margin-bottom: 48px;
}

.menu-item-mob:not(:last-child) {
  margin-bottom: 40px;
}

.nav-adress-tel-mob {
  margin-bottom: 40px;
}

.menu-link-mob {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-mob:hover,
.menu-link-mob:focus {
  color: var(--active-color);
}

.nav-adress-link-mob {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-adress-link-mob:hover,
.nav-adress-link-mob:focus {
  color: var(--active-color);
}

.nav-mail-link-mob {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mail-link-mob:hover,
.nav-mail-link-mob:focus {
  color: var(--active-color);
}

.mob-social-list {
  display: flex;
}

.mob-social-item:not(:last-child) {
  margin-right: 56px;
}

.mob-social-item {
  height: 40px;
  width: 40px;
}

.mob-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: var(--active-color);
}