.section-policy {
  padding-top: 96px;
  padding-bottom: 96px;
}

.policy-icons {
  display: none;
}

.policy-item {
  max-width: 396px;
}

.policy-item:not(:last-child) {
  margin-bottom: 72px;
}

.list-our-policy {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
  text-align: center;
}

.descr-our-policy {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* **************************************************************************************** */
/* ПЛАНШЕТ*/
@media screen and (min-width: 768px) {
  .policy-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .policy-item {
    max-width: 356px;
  }

  .policy-item:not(:last-child) {
    margin-bottom: 0;
  }

  .list-our-policy {
    text-align: left;
  }
}

/* **************************************************************************************** */
/* ДЕСКТОП */

@media screen and (min-width: 1200px) {
  .section-policy {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .policy-list {
    justify-content: center;
    flex-wrap: nowrap;
  }


  .policy-item {
    width: 264px;
  }

  .policy-icons {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .list-our-policy {
    font-size: 20px;
    line-height: 1.2;
  }

  .descr-our-policy {
    font-weight: 400;
  }
}

/* СЕКЦІЯ КАРТИНОК, ЩО МИ РОБИМО  */
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.section-work {
  padding-bottom: 120px;
}

.pictiure-item:not(:last-child) {
  margin-right: 24px;
}

.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.work-list {
  display: flex;
  margin-top: 72px;
  justify-content: center;
}